.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

#logotipo{
    width: 30px;
    margin-left: 20%;
}
.form-text, .card-text, .btn, .p, h4{
    color: #fff;
}

.navbar-nav{
    padding-left: 40%;
}

.nav-link {
    color: rgb(193, 241, 255);
}


